<div class="hero">
  <h2 class="hero-title">Hero title</h2>
  <p class="hero-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum laboriosam voluptas repudiandae, expedita iure eos nisi culpa amet incidunt laborum aperiam corporis quibusdam ipsam ipsum esse nemo? Consequuntur, voluptas autem.</p>
</div>
