{{#> layouts/base title="Website name" }}
{{#*inline "page-block"}}

  <h1>Homepage</h1>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum laboriosam voluptas repudiandae, expedita iure eos nisi culpa amet incidunt laborum aperiam corporis quibusdam ipsam ipsum esse nemo? Consequuntur, voluptas autem.</p>

{{> partials/footer }}

{{/inline}}
{{/layouts/base}}
