{{#> layouts/base title="Website name" }}
{{#*inline "page-block"}}

{{> partials/header }}

<div class="wrapper">
  <div class="columns">
    <div class="column">
      <div class="item">item</div>
    </div>
    <div class="column">
      <div class="item">item</div>
    </div>
    <div class="column">
      <div class="item">item</div>
    </div>
    <div class="column">
      <div class="item">item</div>
    </div>
    <div class="column">
      <div class="item">item</div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="columns">
    <div class="column is-half">
      <div class="item">item</div>
    </div>
    <div class="column">
      <div class="item">item</div>
    </div>
    <div class="column">
      <div class="item">item</div>
    </div>
  </div>
</div>

<div class="wrapper">
  {{> partials/hero }}

  <h2>Heading 2</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit illum doloremque commodi eos sed facere rerum maxime nemo officiis, magni laboriosam eveniet itaque ullam nobis velit omnis ipsa ad obcaecati!</p>
  <ul>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
  </ul>

  <h3>Heading 3</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos corrupti, dolorum consequatur nesciunt vel ratione nobis a officiis! Magnam assumenda est eos dolorum illo eaque magni consequatur sed nam modi.</p>
  <ol>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
  </ol>

  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore in ipsam accusamus? Tenetur vitae obcaecati accusamus neque ipsum consectetur reprehenderit suscipit laborum, repudiandae, id, in nostrum unde optio velit minima?</p>
  <form action="">
    <div>
      <label for="userName">Name</label>
      <input type="text" name="userName" id="userName">
    </div>
    <div>
      <label for="userEmail">Email</label>
      <input type="email" name="userEmail" id="userEmail">
    </div>
    <div>
      <label for="userPhone">Phone</label>
      <input type="tel" name="userPhone" id="userPhone">
    </div>
    <div>
      <label for="userMessage">Message</label>
      <textarea name="userMessage" id="userMessage" cols="30" rows="5"></textarea>
    </div>
    <input type="submit" value="Send">
  </form>

  <h5>Heading 5</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quaerat saepe tempora neque reprehenderit laboriosam inventore vitae vero esse, dignissimos corporis amet quo optio ea tempore voluptates. Repudiandae, veritatis repellat!</p>
  <blockquote>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id culpa ex odit sed ut doloribus ea delectus facere accusamus laborum voluptates veritatis, maxime impedit voluptatem, aliquid sunt mollitia dolore? Modi!</p>
    <footer>—Full name, <cite>cite text</cite></footer>
  </blockquote>

  <h6>Heading 6</h6>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quod, eveniet alias unde nam neque asperiores laudantium reiciendis quasi in minus nostrum optio ex culpa quia tenetur laborum illo fuga.</p>
</div>

{{> partials/footer }}
{{/inline}}
{{/layouts/base}}
